body {
	background-color: #b1b0b5;
	color: #444;
	font-family: 'Raleway', sans-serif !important;
	padding: 0;
	margin: 0;
}

.fix-bottom {
	clear: both !important;
}

.fix-top {
	margin: 6.25rem 0 3.125rem !important;
}

::-webkit-selection {
	color: #FFF;
	background: #0F9;
}

::-moz-selection {
	color: #FFF;
	background: #0F9;
}

a {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	text-decoration: none;
}

a:hover {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#header {
	position: relative;
	width: auto;
	height: 100vh;
	background: transparent url(../img/bkg-header.jpg) no-repeat top center;
	text-align: center;
	background-size: cover;
}

#header #mypic {
	border-radius: 50%;
	top: 40%;
}

#header .center {
	margin: 0 auto;
}

#header h1 {
	font-size: 2.5rem;
	font-weight: 100;
	color: #0F9;
	margin: 1.25rem 0;
}

#header p {
	font-size: 1.25rem;
	font-weight: 100;
	color: #FFF;
	margin: 0.625rem 0;
	padding: 0 3.125rem;
}

#header p em {
	color: #0F9;
}

#header ul {
	list-style: none;
	padding: 0;
	margin-top: 3.75rem;
}

#header ul li {
	display: inline;
	padding: 0 0.3125rem;
}

#header ul li a {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
}

#header ul li a:hover {
	color: #0F9;
}

#header ul li img {
	width: 0.4375rem;
}

#header-info {
	position: relative;
	top: 20vh;
}

h2.section {
	display: block;
	width: 100%;
	padding: 1.563rem 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.875rem;
	color: #FFF;
	font-weight: 100;
	background: #666;
	box-shadow: 0.3125rem 0.3125rem 0.375rem #CCC;
	-moz-box-shadow: 0.3125rem 0.3125rem 0.375rem #CCC;
	-webkit-box-shadow: 0.3125rem 0.3125rem 0.375rem #CCC;
}

#skills {
	width: auto;
 	padding-bottom: 6.25rem;
}

#skills .skills {
	width: 80%;
	max-width: 60rem;
	height: 23.75rem;
	margin: auto;
	position: relative;
}
  
#skills .chart {
	position: relative;
	display: block;
	margin-bottom: 0.938rem;
	width: 100%;
	background: #eee;
	height: 2.188rem;
	border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}

#skills .chart-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 6.875rem;
	font-weight: bold;
	font-size: 0.813rem;
	color: #ffffff;
	-webkit-border-top-left-radius: 0.25rem;
	-webkit-border-bottom-left-radius: 0.25rem;
	-moz-border-radius-topleft: 0.25rem;
	-moz-border-radius-bottomleft: 0.25rem;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	background: #2980b9;
}

#skills .chart-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 1.25rem;
	height: 2.188rem;
	line-height: 2.188rem;
	-webkit-border-top-left-radius: 0.25rem;
	-webkit-border-bottom-left-radius: 0.25rem;
	-moz-border-radius-topleft: 0.25rem;
	-moz-border-radius-bottomleft: 0.25rem;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

#skills .chart-bar {
	height: 2.188rem;
	width: 0;
	border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	background: #3498db;
}

#skills .chart-percent {
	position: absolute;
	right: 0.625rem;
	top: 0;
	font-size: 0.688rem;
	height: 1.25rem;
	line-height: 1.25rem;
	color: rgba(0, 0, 0, 0.4);
}

#projects {
	width: auto;
}

#projects .popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 0.063remolid black;
	border-radius: 0.625rem;
	z-index: 10;
	background-color: white;
	width: 37.5rem;
	max-width: 80%;
}

#projects .popup.active {
	transform: translate(-50%, -50%) scale(1);
}

#projects .popup-header {
	padding: 0.625rem 0.938rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.063rem solid black;
}

#projects .popup-header .title {
	font-size: 1.25rem;
	font-weight: bold;
}

#projects .popup-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 2rem;
	font-weight: bold;
}

#projects .popup-body {
	padding: 0.625rem 0.938rem;
	font-size: 1.15rem;
}

#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	background-color: rgba(0,0,0,.7);
	pointer-events: none;
	transition: 200ms ease-in-out;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

#projects .card {
	background: #e0e0e0;
	box-shadow: 1.25rem 1.25rem 3.75rem #bebebe, -1.25rem -1.25rem 3.75rem #ffffff;
	border-radius: 1rem !important;
	width: 18.75rem;
	margin: 1.875rem 1.25rem;
	border: none !important;
	height: 17.188;
	cursor: pointer;
}

#projects .card-img {
	overflow: hidden;
	border-top-left-radius: 1rem !important;
	border-top-right-radius: 1rem !important;
}

#projects .card-body {
	text-align: center;
}

#projects .card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#contact {
	width: auto;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#contact .form-section {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#contact .form-container {
	width: 90%;
	max-width: 31.25rem;
	margin: 0 auto;
	padding: 1.25rem;
	box-shadow: 0 0 1.25rem #000010;
	background-color: white;
	border-radius: 0.5rem;
	margin-bottom: 1.25rem;
}

#contact .form-group {
	width: 100%;
	margin-top: 1.25rem;
	font-size: 1.25rem;
}

#contact input,
#contact textarea {
	width: 100%;
	padding: 5%;
	font-size: 1.125rem;
	border: 0.063rem solid rgba(128,128,128,0.199);
	margin-top: 0.313rem;
}

#contact textarea {
	resize: vertical;
}

#contact button[type='submit'] {
	width: 100%;
	border: none;
	outline: none;
	padding: 1.25rem;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	color: rgb(27,166,247);
	text-align: center;
	cursor: pointer;
	margin-top: 0.625rem;
	transition: .3s ease backgroud-color;
}

#contact button[type='submit']:hover {
	background-color: rgb(214,226,236);
}

#status {
	width: 90%;
	max-width: 31.25rem;
	text-align: center;
	padding: 0.625rem;
	margin: 0 auto;
	border-radius: 0.5rem;
}

#status.success {
	background-color: rgb(211,250,153);
	animation: status 4s ease forwards;
}

#status.error {
	background-color: rgb(250,129,92);
	color: white;
	animation: status 4s ease forwards;
}

@keyframes status {
	0%{
		opacity: 1;
		pointer-events: all;
	}
	90%{
		opacity: 1;
		pointer-events: all;
	}
	100%{
		opacity: 0;
		pointer-events: none;
	}
}

footer {
	width: 100%;
	background: transparent url(../img/bkg-footer.jpg) no-repeat bottom center;
	background-size: 100% auto;
	text-align: center;
	padding: 1.875rem 0;
}

footer p {
	font-size: 1.25rem;
	font-weight: 100;
	color: #FFF;
	margin: 0.625rem 0;
}

footer p a {
	color: #FFF;
	text-decoration: none;
}

footer p a:hover {
	color: #0F9;
}

@media screen and (max-width: 960px) {
	header ul { display: none; }
	footer { background-size: auto; text-align: center; }
}

@media screen and (max-width: 600px) {
	header .center { width: 95%; }
	#header p { font-size: 1.5rem; }
	#header ul { font-size: 1.5rem; }
	#skills { padding-bottom: 0; }
}

@media screen and (max-width: 480px) {
	#header-info { top: 10vh; }
	#header p { font-size: 1.25rem; }
	#header ul { font-size: 1.25rem; }
}

@media screen and (max-width: 414px) {
	#header-info { top: 5vh; }
	#header p { padding: 0 0.938; }
	footer p { font-size: 0.938rem; padding: 0 0.625rem; }
}

@media screen and (max-width: 375px) {
	#header p { font-size: 1rem; }
	#header ul { font-size: 1rem; }
}

@media screen and (max-width: 320px) {
	body { width: 20rem; }
}
