body {
	background-color: #b1b0b5;
	color: #444;
	font-family: 'Raleway', sans-serif !important;
	padding: 0px;
	margin: 0px;
}

.fix-bottom {
	clear: both !important;
}

.fix-top {
	margin: 100px 0 50px !important;
}

::-webkit-selection {
	color: #FFF;
	background: #0F9;
}

::-moz-selection {
	color: #FFF;
	background: #0F9;
}

a {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	text-decoration: none;
}

a:hover {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#header {
	position: relative;
	width: auto;
	height: 100vh;
	background: transparent url(../img/bkg-header.jpg) no-repeat top center;
	text-align: center;
}

#header #mypic {
	border-radius: 50%;
	top: 40%;
}

#header .center {
	width: 600px;
	margin: 0 auto;
}

#header h1 {
	font-size: 40px;
	font-weight: 100;
	color: #0F9;
	margin: 20px 0;
}

#header p {
	font-size: 20px;
	font-weight: 100;
	color: #FFF;
	margin: 10px 0;
}

#header p em {
	color: #0F9;
}

#header ul {
	list-style: none;
	padding: 0;
	margin-top: 60px;
}

#header ul li {
	display: inline;
	padding: 0 5px;
}

#header ul li a {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
}

#header ul li a:hover {
	color: #0F9;
}

#header ul li img {
	width: 7px;
}

#header-info {
	position: relative;
	top: 20vh;
}

h2.section {
	display: block;
	width: 100%;
	padding: 25px 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	color: #FFF;
	font-weight: 100;
	background: #666;
	box-shadow: 5px 5px 6px #CCC;
	-moz-box-shadow: 5px 5px 6px #CCC;
	-webkit-box-shadow: 5px 5px 6px #CCC;
}

#skills {
	width: auto;
 	padding-bottom: 100px;
}

#skills .skills {
	width: 80%;
	max-width: 960px;
	height: 380px;
	margin: auto;
	position: relative;
}
  
#skills .chart {
	position: relative;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	background: #eee;
	height: 35px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}

#skills .chart-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #2980b9;
}

#skills .chart-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#skills .chart-bar {
	height: 35px;
	width: 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #3498db;
}

#skills .chart-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 35px;
	line-height: 35px;
	color: rgba(0, 0, 0, 0.4);
}

#projects {
	width: auto;
	height: 100vh;
}

#projects .popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 600px;
	max-width: 80%;
}

#projects .popup.active {
	transform: translate(-50%, -50%) scale(1);
}

#projects .popup-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

#projects .popup-header .title {
	font-size: 1.25rem;
	font-weight: bold;
}

#projects .popup-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 2rem;
	font-weight: bold;
}

#projects .popup-body {
	padding: 10px 15px;
	font-size: 1.15rem;
}

#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	background-color: rgba(0,0,0,.7);
	pointer-events: none;
	transition: 200ms ease-in-out;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

#projects .card {
	background: #e0e0e0;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
	border-radius: 1rem !important;
	width: 300px;
	margin: 30px 20px;
	border: none !important;
	height: 275px;
	cursor: pointer;
}

#projects .card-img {
	overflow: hidden;
	border-top-left-radius: 1rem !important;
	border-top-right-radius: 1rem !important;
}

#projects .card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#contact {
	width: auto;
	height: 100vh;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#contact .form-section {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#contact .form-container {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 20px #000010;
	background-color: white;
	border-radius: 8px;
	margin-bottom: 20px;
}

#contact .form-group {
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
}

#contact input,
#contact textarea {
	width: 100%;
	padding: 5%;
	font-size: 18px;
	border: 1px solid rgba(128,128,128,0.199);
	margin-top: 5px;
}

#contact textarea {
	resize: vertical;
}

#contact button[type='submit'] {
	width: 100%;
	border: none;
	outline: none;
	padding: 20px;
	font-size: 24px;
	border-radius: 8px;
	color: rgb(27,166,247);
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
	transition: .3s ease backgroud-color;
}

#contact button[type='submit']:hover {
	background-color: rgb(214,226,236);
}

#status {
	width: 90%;
	max-width: 500px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	border-radius: 8px;
}

#status.success {
	background-color: rgb(211,250,153);
	animation: status 4s ease forwards;
}

#status.error {
	background-color: rgb(250,129,92);
	color: white;
	animation: status 4s ease forwards;
}

@keyframes status {
	0%{
		opacity: 1;
		pointer-events: all;
	}
	90%{
		opacity: 1;
		pointer-events: all;
	}
	100%{
		opacity: 0;
		pointer-events: none;
	}
}

footer {
	width: 100%;
	background: transparent url(../img/bkg-footer.jpg) no-repeat bottom center;
	background-size: 100% auto;
	text-align: center;
	padding: 30px 0px;
}

footer p {
	font-size: 20px;
	font-weight: 100;
	color: #FFF;
	margin: 10px 0;
}

footer p a {
	color: #FFF;
	text-decoration: none;
}

footer p a:hover {
	color: #0F9;
}

@media only screen and (max-width: 960px) {
	header ul { display: none; }
	footer { background-size: auto; text-align: center; }
}

@media only screen and (max-width: 600px) {
	header .center { width: 95%; }
	header p { word-wrap: break-word; }
}

@media only screen and (max-width: 320px) {
	body { width: 320px; }
	footer p { font-size: 15px; }
}
